<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>O Poder Da Leitura</title>
	<link rel="shortcut icon" type="image/x-icon" href="CSS/book-open.svg"/>
	<link rel="stylesheet" href="Semantic/semantic.css"/>
	<link rel="stylesheet" href="CSS/livraria.css"/>
</h:head>
<h:body>
	<h1>Bem vindo à  sua livraria online</h1>
	<div class="ui secondary menu">
	  	<div class="left menu">
	  		<a class="item" href="livraria.xhtml" id="logout">Deslogar</a>
	  	</div>
	</div>
	<hr/>
	<div id="content" class="ui link special cards ui three column grid">
		  <div class="card">
		    <div class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">
		            	<label class="label" for="img">Alterar Imagem</label>
		            	<input type="file" name="img"></input>
		            </div>
		          </div>
		        </div>
		      </div>
		      <img src="CSS/dq.jpg"/>
		    </div>
		    <div class="content">
	    		<a class="header">Dom Quixote<i style="float: right;" class="pencil icon"></i></a>
	    		<div class="meta">
	      			<span class="date">1605</span>
	    		</div>
	    		<div class="description">
					  	<div class="text opensinopses">
					  		Sinopse<i class="dropdown icon"></i>
					  	</div>
						<div class="sinopse">
						  	O livro conta a história de um fidalgo, homem de bem, chamado Dom Quixano, que vivia numa pequena aldeia da Mancha, província espanhola. Era conhecido por sua enorme biblioteca, composta por livros de aventuras da cavalaria andante.  Ele lia os livros e os reconstruí­a, à  sua maneira, e de tanto ler e imaginar, um dia rompeu o elo que o prendia a realidade. Passando a achar que estava em mundo mágico, onde existiam cavaleiros, dragões, gigantes e donzelas para salvar, e que seria um cavaleiro andante. Como os nobres cavaleiros de seus livros sempre trocavam os nomes, ele fez o mesmo, assim passado a ser chamado Dom Quixote de la Mancha. Então pegou uma armadura, que pertencia a seu bisavó, pegou seu cavalo, magro e feio, que deu lhe o nome de Rocinante e foi em busca de aventuras e de sua amada, Dulcinéia de Toboso. Durante sua primeira aventura, Don Quixote ataca um grupo de viajantes, por ter zombado de Dulcinéia e é espancado. Ele é levado para casa e seus amigos falam que ele ficou louco por causa dos livros, então queimam os livros considerados ruins. Mas ele retorna sua jornada com Sancho Pança, um homem honesto, trabalhador, pouco inteligente e que tem uma visão mais realista, que se torna seu fiel escudeiro. Juntos se envolvem em muitas aventuras, mas suas fantasias são sempre desmentidas pela dura realidade. Suas aventuras são hilárias, dramáticas e perigosas.
						</div>
	  			</div>
	  		</div>
		  </div>
		  <div class="card">
		    <div class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">
		            	<label class="label" for="img">Alterar Imagem</label>
		            	<input type="file" name="img"></input>
		            </div>
		          </div>
		        </div>
		      </div>
		      <img src="CSS/otm.jpg"/>
		    </div>
		    <div class="content">
	    		<a class="header">Os Três Mosqueteiros<i style="float: right;" class="pencil icon"></i></a>
	    		<div class="meta">
	      			<span class="date">1844</span>
	    		</div>
	    		<div class="description">
	      			<div class="text opensinopses" >
					  		Sinopse<i class="dropdown icon"></i>
					</div>
					<div class="sinopse">
						Este livro conta a história de um jovem de 20 anos, proveniente da Gasconha, D'Artagnan, que vai a Paris buscando se tornar membro do corpo de elite dos guardas do rei, os mosqueteiros do Rei. Chegando lá, após acontecimentos similares, ele conhece três mosqueteiros chamados "os inseparáveis": Athos, Porthos e Aramis. Juntos, os quatro enfrentaram grandes aventuras a serviço do rei da França, Luís XIII, e principalmente, da rainha, Ana de Áustria.
						Encontraram seus inimigos, o Cardeal Richelieu e os seus guardas, além de Milady, uma bela mulher à serviço de Richelieu, que já foi casada com Athos. Essa lista também inclui os huguenotes e os ingleses, inimigos da Coroa francesa.
						Com seus numerosos combates e suas reviravoltas romanescas, Os Três Mosqueteiros é o exemplo típico do romance de capa-e-espada. 
					</div>
	    		</div>
	  		</div>
		  </div>
		  <div class="card">
		    <div class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">
		            	<label class="label" for="img">Alterar Imagem</label>
		            	<input type="file" name="img"></input>
		            </div>
		          </div>
		        </div>
		      </div>
		      <img src="CSS/om.jpg"/>
		    </div>
		    <div class="content">
	    		<a class="header">Os Miseráveis<i style="float: right;" class="pencil icon"></i></a>
	    		<div class="meta">
	      			<span class="date">1862</span>
	    		</div>
	    		<div class="description">
	      			<div class="text opensinopses" >
					  		Sinopse<i class="dropdown icon"></i>
					</div>
					<div class="sinopse">
					O romance conta a triste história de um homem (Jean Valjean), que, por ver os irmãos passarem fome, rouba um pedaço de pão e é condenado a 5 anos de prisão. Devido às tentativas de fuga e mau comportamento na cadeia, acaba sofrendo outras condenações, pagando 19 anos de reclusão. O livro é uma denúncia contra as injustiças do poder judiciário que vem se repetindo em todas as épocas. Para o autor, o mundo é o terreno onde se defrontam os mitos, o bem e o mal, a bondade e a crueldade.
					</div>
	    		</div>
	  		</div>
		  </div>
		  <div class="card">
		    <div class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">
		            	<label class="label" for="img">Alterar Imagem</label>
		            	<input type="file" name="img"></input>
		            </div>
		          </div>
		        </div>
		      </div>
		      <img src="CSS/od.jpg"/>
		    </div>
		    <div class="content">
	    		<a class="header">A Odisséia<i style="float: right;" class="pencil icon"></i></a>
	    		<div class="meta">
	      			<span class="date">Século VIII a.C.</span>
	    		</div>
	    		<div class="description">
	      			<div class="text opensinopses" >
					  		Sinopse<i class="dropdown icon"></i>
					</div>
					<div class="sinopse">
						Obra literária que conta a história de Odisseu (conhecido também pela forma latina, Ulisses), rei da Ilha de Ítaca e um grande guerreiro. Odisseu parte para combater na Guerra de Troia deixando para trás sua esposa Penélope e seu pequeno filho, Telêmaco. Após o término da Guerra, muitos anos haviam se passado e estava na hora de voltar para casa, mas essa não era a vontade dos deuses, que fizeram com que Odisseu tivesse de navegar por muitos anos pelos mares da Grécia antes que conseguisse regressar a Ítaca. Durante o período em que esteve em alto-mar ele se deparou com diversas criaturas monstruosas e com alguns deuses, e diversas vezes se viu lutando pela própria vida.
Durante os anos em que esteve fora, muitas pessoas pensaram que Odisseu tivesse morrido e muitos homens já habitavam sua casa com a esperança de se casar com Penélope e tomar seu lugar como rei de Ítaca. Embora tudo indicasse que Odisseu jamais voltaria, Penélope e Telêmaco sonhavam com o momento em que Odisseu entraria pela porta e expulsaria aqueles homens que estavam tentando tomar seu lugar e devorando todos os seus bens enquanto ele estava ausente. O que eles não sabiam era que este momento tão esperado estava prestes a chegar, já que Odisseu, com a ajuda de Atena, conseguiu voltar á Ítaca e, disfarçado de mendigo, chegou até sua casa. Após ter esclarecido tudo a seu filho Telêmaco, agora um homem adulto, eles tramaram um plano para que sua casa finalmente pudesse ser vista livre desses invasores.
A Odisséia é um clássico escrito por Homero que, mesmo pertencendo ao século VIII a.C., continua a ser lido por todo o mundo. Embora seja uma obra antiga, ainda conquista muitos fãs por sua trama envolvente e seu carismático protagonista que faz com que nos apaixonemos pelas suas aventuras. A influência homérica foi claramente vista em outras grandes obras e, com certeza, A Odisséia é um grande clássico que merece ser lido.
					</div>
	    		</div>
	  		</div>
		  </div>
		  <div class="card">
		    <div class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">
		            	<label class="label" for="img">Alterar Imagem</label>
		            	<input type="file" name="img"></input>
		            </div>
		          </div>
		        </div>
		      </div>
		      <img src="CSS/h.jpg"/>
		    </div>
		    <div class="content">
	    		<a class="header">O Hobbit<i style="float: right;" class="pencil icon"></i></a>
	    		<div class="meta">
	      			<span class="date">1937</span>
	    		</div>
	    		<div class="description">
	      			<div class="text opensinopses" >
					  		Sinopse<i class="dropdown icon"></i>
					</div>
					<div class="sinopse">
						Bilbo Bolseiro vive uma vida tranquila e pacata em sua toca hobbit, até que um dia recebe a visita do Mago Gandalf, que o convida para fazer parte de uma grande aventura. O hobbit, entretanto, não gosta de nada que altere sua rotina, então recusa educadamente a oferta recebida, e com isso acredita estar livre de preocupações.
Um pouco mais tarde sua casa é invadida por treze anões, liderados por Thorin Escudo de Carvalho. Eles, juntamente com Gandalf, pretendem contratar Bilbo para ser o ladrão de uma expedição em busca de recuperar o tesouro dos anões roubado por Smaug, um temido e perigoso dragão. Bilbo reluta em participar da aventura, mas, movido por algo dentro de si que antes desconhecia, acaba aceitando a proposta, e parte com Gandalf e os treze anãos rumo à Montanha Solitária.
Durante a longa jornada, Bilbo e os anões deparam-se com trolls, elfos, orcs, lobos, e muitos seres mágicos. Eles passam por grandes apuros por conta de seus inimigos, mas conquistam amigos que os ajudam como podem. Com o passar do tempo, Bilbo se revela bastante esperto e corajoso, e acaba se tornando respeitado entre seus companheiros de expedição; vemos também como ele conhece Gollum e encontra o anel, que o ajuda em momentos de dificuldade. 
					</div>
	    		</div>
	  		</div>
		  </div>
		  <div class="card">
		    <div class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">
		            	<label class="label" for="img">Alterar Imagem</label>
		            	<input type="file" name="img"></input>
		            </div>
		          </div>
		        </div>
		      </div>
		      <img src="CSS/cdv.jpg"/>
		    </div>
		    <div class="content">
	    		<a class="header">O Código Da Vinci<i style="float: right;" class="pencil icon"></i></a>
	    		<div class="meta">
	      			<span class="date">2003</span>
	    		</div>
	    		<div class="description">
	      			<div class="text opensinopses" >
					  		Sinopse<i class="dropdown icon"></i>
					</div>
					<div class="sinopse">
						Um assassinato dentro do Museu do Louvre traz à tona uma sinistra conspiração para revelar um segredo protegido por uma sociedade secreta desde os tempos de Jesus Cristo. Com a ajuda da criptógrafa Sophie Neveu, o professor de Simbologia Robert Langdon segue pistas ocultas nas obras de Leonardo Da Vinci e se debruça sobre alguns dos maiores mistérios da cultura ocidental – do sorriso da Mona Lisa ao significado do Santo Graal. Mesclando os ingredientes de um envolvente suspense com informações sobre obras de arte, documentos e rituais secretos, O Código Da Vinci consagrou Dan Brown como um dos autores mais brilhantes da atualidade
					</div>
	    		</div>
	  		</div>
		  </div> 
		 </div>
		 
	<!-- Modal -->
	
	<div class="ui tiny modal">
	  	<div class="header" style="text-align: center;">Editar<span class="close" style="float:right; cursor:pointer;">&times;</span></div>
	  	<div class="content">
	  		<form action="AtualizarTexto" method="post" class="ui form">
	  			<label for="">Título:</label>
	  			<input type="text" name="titulo"/>
	  			<label for="">Ano de Lançamento:</label>
	  			<input type="text" maxlength="4" name="ano"/>
	  			<label for="">Sinopse</label>
	  			<input type="text" name="sinopse"/>
	  			<center><input class="ui button" type="submit" value="Enviar"/></center>
	  		</form>
	  	</div>
	</div>
	
	<script type="text/javascript" src="JS/jquery.js"></script>
	<script type="text/javascript" src="JS/livraria.js"></script>
	<script type="text/javascript" src="Semantic/semantic.js"></script>
	<script type="text/javascript">
		$('.special.cards .image').dimmer({
		  on: 'hover'
		});
		$(".close:eq(0)").click(function(){
			$('.modal:eq(0)').modal('hide');
		});
	</script>
</h:body>
</html>