*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
}
body{
	font-size: 100%;
}
h1{
	/* 1em == 16px */
	font-family: "Arial","Times New Roman",sans-serif;
	font-size: 2.5em;
	text-align: center;
	padding: 3% 3% 3% 3%;
	color: #222;
}
hr{ 
	border: 1px #222 solid;
}
#content{
	margin: 0%;
}
img{
	background-color: lightgray;
	max-height: 300px;
}
.sinopse{
	display: none;
}
.ui .button{
	margin-top: 1%;
}
.label{
	cursor: pointer;
}
input[type='file']{
	display: none;
}